
# Ignore the credentials.json file downloaded from https://cloud.google.com/speech-to-text/docs/quickstart-protocol
credentials/*
#*.json

# Ignore .env file which contains sensitive environment variables
.env

# Ignore audio files (for the moment)
microphone-results.flac
